/*Universal Styling */
* {
    margin: 0;
    padding: 0;
}

/* fonts */

.inter {
    font-family: "Inter", sans-serif;

}

.raleway {
    font-family: "Raleway", sans-serif;

}

/* main styles */
.body-bg{
    background-color: #F5F8FF;
}

/* Shared Styles starts*/

/* shared width */
.width-1140 {
    max-width: 1140px;

}

.width-905 {
    max-width: 905px;

}

.sharedBtn {
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;

}



/* Shared Styles starts*/

/* Header styling */
.header-bg {
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: cover;
}

/* Nav Section Styling */
.nav-section {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.web-logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

/* Banner Section Styling */
.banner-section {
    margin: 0 auto;
    text-align: center;
    padding:158px 0px 200px 0px;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}



/* Action Section Styling */
.action-section {
    margin: 116px auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10%;
}

.action-content,
.action-image {
    width: 45%;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
}

.action-description {
    font-size: 24px;
    font-weight: 400;
    color: #252432;
    line-height: 30px;
    margin-bottom: 23px;
}

.action-image {
    text-align: right;
}

.action-image img {
    border-radius: 48px;
}

/* Active User Section Styling */
.userSection {
    margin: 116px auto 0px;
    background-color: #E5E7FF;
    border-radius: 24px;
    text-align: center;
    padding: 50px 80px;
    box-sizing: border-box;
}

.user-title {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.user-data-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.user-data h4 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.user-data p {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

/* User Review Section Styling */
.user-review-section {
    margin: 116px auto 0px;
}

.review-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}

.review-card-container{
    display: flex;
    column-gap:20px;
}

.review-card {
    background-color: #FAFCFF; 
    box-shadow: 0 4px 4px #F2EDED;
    border-radius: 14px;
    padding: 24px;
}

.star-img {
    margin-bottom: 24px;
}

.riviewer-title {
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
    line-height: 120%;
    letter-spacing: -2%;
}

.review-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: #1E1E1E;
    margin-bottom: 24px;
}

.reviewer {
    display: flex;
    column-gap: 12px;
}
.reviewer-name{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    line-height: 140%;
    
}
.review-date{
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
    line-height: 140%;
    
}

/* Big Welcome Banner Section styles */
.big-wlc-section{
    margin: 137px auto 0px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 14px;
    padding:71px 0px;
}

.wlc-title{
    font-size: 50px;
    font-weight: bold;
    color:#000000;
    line-height: 120%;
    margin-bottom: 20px;
}
.wlc-sub-title{
    font-size: 16px;
    font-weight: 400;
    color:#4b4949;
    line-height: 140%;
    margin-bottom: 20px;
}

.getStr-btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 20px;
}

.big-wlc-pic img{
    border-radius: 48px;
}
